.header {
    background-color: black;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
   display: flex;
   justify-content: space-between;
   max-width: 1200px;
   margin: 0 auto;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    width: max-content;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 14px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
    color: $thirdColor;
    transition: 0.5s;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}

